/*Importação da fonte*/
@import url('https://fonts.cdnfonts.com/css/the-amazing-spider-man');
@import url('https://fonts.cdnfonts.com/css/amazing-spider-man');

/*reset básico*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    /*Mudando a cor do BODY*/
    background-color: aliceblue;
}

#personagem {
    /*Mudando a cor e o tamanho da pagina, dos nossos personagens*/
    background-color: aliceblue;
    padding: 50px 20px;
}

#personagem h2 {
    /*Arrumando o Titulo h2, dos personagens*/
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.container-personagens {
    /*Para dividir a seção, abrindo um container para toda a nossa seção*/
    display: flex;
    /*Ativa o display do tipo FLEXBOX*/

    flex-wrap: wrap;
    /*Permite quebrar a linha, caso não tenha espaço o suficiente*/

    gap: 30px;
    /*Espaçamento entre os cards*/

    justify-content: center;
    /*Centralizar os cars no eixo principal*/

    align-items: stretch;
    /*Deixa todos os itens "esticados" ou seja do mesmo tamanho*/
}

/*Alterar o estilo dos cards*/
.item {
    width: 250px;
    background-color: cornflowerblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    /*Ativar o flexbox*/
    flex-direction: column;
    justify-content: space-between;
    cursor: copy;
}

.item:hover {
    display: flex;
    justify-content: center;
    width: 250px;
    margin: 15px;
    padding: 20px;
    box-shadow: 0px 4px 23px 20px black;
    background-color: cornflowerblue;
    border-radius: 10px;
    transform: translateY(-20px);
    transition: 0.5s;
    cursor: pointer;
}

.item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item p {
    color: aliceblue;
    font-weight: bold;
    margin-bottom: 10%;

}

.item h3 {
    font-family: 'THE AMAZING SPIDER-MAN', sans-serif;
    color: black;
    font-size: 20px;
    margin-bottom: 15px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    /*quebra a linha*/
    gap: 10px;
    justify-content: center;
    line-height: 10px;
}

.tag {
    color: aliceblue;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    background-color: red;

}

.Lobisomem {
    background-color: red;
}

.Alcatéia {
    background-color: saddlebrown;
}

.Grito {
    background-color: darkmagenta;
}

.Imunidade {
    background-color: mediumpurple;
}

.Coiote-lobisomem {
    background-color: green
}

.werecoyote {
    background-color: darkslategray;
}

.intelecto {
    background-color: midnightblue;
}

.Âncora {
    background-color: mediumvioletred;
}

.Investigadora {
    background-color: hotpink;
}

.Alfa {
    background-color: dimgrey;
}

footer {
    color: aliceblue;
    font-size: 15px;
    transition: 0.3s;
}

footer:hover {
    color: black;
    box-shadow: 0 0 50px 20px cornflowerblue;
}

/*Responsivo */
@media(max-width: 600px) {
    #personagem h2 {
        font-size: 50px;
    }

    .item {
        width: 100%;
        max-width: 320px;
    }
}